:root {
  --font-main: 'Open Sans', sans-serif;
  --font-second: 'Raleway', sans-serif;
  --font-main-color: #303030;
  --font-second-color: #9da4bd;
  --accent: #ff6c00;
  --description-dark-color: #555555;
}

/* ======== COMPONENTS ======= */
body {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  font-weight: normal;
  color: var(--description-dark-color);
}

h1,
h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--font-second);
  font-weight: bold;
}

h2 {
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}

.address {
  font-style: normal;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 130px 0;
}

.modal-open-btn {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 18px;
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent);
  border-radius: 25px;
  background: none;
  cursor: pointer;
  transition: all 250ms;
}

.modal-open-btn:hover {
  background-color: var(--accent);
  color: #fff;
}

.modal-open-btn-light {
  color: #ffffff;
}

.modal-open-btn-dark {
  color: var(--font-main-color);
}

.subtitle {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.subtitle::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
}

.subtitle-light {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle-light::before {
  background: rgba(157, 164, 189, 0.6);
}

.subtitle-dark {
  color: var(--font-main-color);
}

.subtitle-dark::before {
  background: var(--font-main-color);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.description-light {
  color: var(--font-second-color);
}

.description-dark {
  color: var(--description-dark-color);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1000ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop .modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  animation-duration: 1000ms;
}

.backdrop .modal .modal-close-btn {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  transition: background-color 250ms, color 500ms;
}

.backdrop .modal .modal-close-btn:hover {
  background-color: #000;
  color: #fff;
}
/* ======== /COMPONENTS ======= */

/* ======== HEADER ======= */
.header {
  position: absolute;
  width: 100%;
  /* left: 50%;
  top: 0;
  transform: translate(-50%, 0); */
  padding: 40px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 70px;
  animation-duration: 500ms;
  animation-iteration-count: 4;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu ul {
  display: flex;
}

.header .menu ul li:not(:last-child) {
  margin-right: 40px;
}

.header .address {
  margin-left: auto;
  margin-right: 40px;
}

.header a,
.header a:visited {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
}

.header a:hover,
.header a:active,
.header a:focus {
  color: var(--accent);
}
/* ======== /HEADER ======= */

/* ======== TOP ======= */
.top .container {
  display: flex;
}

.top-left {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}

.top-left ul {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.top-left ul::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  background: var(--font-main-color);
  flex-shrink: 0;
  margin-right: 40px;
}

.top-left ul li:not(:last-child) {
  margin-right: 40px;
}

.top-right {
  flex-grow: 1;
  padding-top: 272px;
  padding-right: 525px;
  padding-bottom: 206px;
  padding-left: 100px;
  background-color: #000;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url('../img/bg-top.jpg');
  background-repeat: no-repeat;
}

.top-left a,
.top-left a:visited {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--font-main-color);
  transition-duration: 250ms;
  transition-property: color;
}

.top-left a:hover,
.top-left a:active,
.top-left a:focus {
  color: var(--accent);
}

.top-right h1 {
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  color: #ffffff;
}
/* ======== /TOP ======= */

/* ======== О НАС ======= */
.about {
}

.about .container {
  display: flex;
}

.about ul {
  display: flex;
}

.about ul li:not(:last-child) {
  margin-right: 30px;
}

.about-right {
  padding-left: 64px;
  width: 544px;
}

.about .description {
  margin-bottom: 20px;
}

.about .modal-open-btn {
  margin-top: 40px;
}
/* ======== /О НАС ======= */

/* ======== Услуги и цены ======= */
.services {
  background-color: #111319;
  background-image: url('../img/bg-services.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.services h2 {
  color: #ffffff;
}

.services .prices {
  display: flex;
  margin-bottom: 50px;
}

.services .prices ul {
  width: 50%;
  padding: 30px 40px;
}

.services .prices ul:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services .prices ul:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services .prices ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.services .prices ul li:last-child {
  margin-bottom: 0;
}

.services ul span {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--font-second-color);
}

.services .modal-open-btn {
  display: block;
  margin: 0 auto;
}
/* ======== /Услуги и цены ======= */

/* ======== achievements ======= */
.achievements .container {
  display: flex;
}

.achievements-left {
  width: 370px;
}

.achievements-left ul {
  display: flex;
}

.achievements-left ul li {
  width: 170px;
  min-height: 133px;
  padding: 20px;
  margin-bottom: 30px;
}

.achievements-left ul li:nth-child(even) {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 0;
}

.achievements-right {
  padding-left: 130px;
  padding-right: 200px;
}

.achievements h2 {
  color: var(--font-main-color);
}

.achievements-left p {
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: var(--font-main-color);
}

.achievements-left .number {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
}

.achievements-left sup {
  color: var(--accent);
}
/* ======== /achievements ======= */

/* ======== НАШИ МАСТЕРА ======= */
.masters {
  background: #f7f7f7;
}

.masters h2 {
  color: var(--font-main-color);
  margin-bottom: 44px;
}

.masters h3 {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--font-main-color);
}

.masters ul {
  display: flex;
  justify-content: space-between;
}

.masters .icons-list {
  width: 206px;
  margin: 0 auto;
}

.masters__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  transition: all 500ms;
}

.masters__list-link:hover {
  background-color: #000;
}

.masters__list-link svg {
  width: 20px;
  height: 20px;
}

.masters__list-link:hover svg,
.masters__list-link:focus svg {
  fill: var(--accent);
}

.masters .job-position {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent);
}
/* ======== /НАШИ МАСТЕРА ======= */

/* ======== ГАЛЕРЕЯ ======= */
.gallery .subtitle {
  margin-bottom: 44px;
}

.gallery ul {
  display: flex;
  justify-content: space-between;
}
/* ======== /ГАЛЕРЕЯ ======= */

/* ======== КОНТАКТЫ ======= */
.contacts {
}

.contacts .container {
  display: flex;
  justify-content: space-between;
}

.contacts-right {
  width: 50%;
  padding: 130px 100px;
}

.contacts .subtitle {
  margin-top: 70px;
}

.contacts h2 {
  margin-bottom: 40px;
  /* color: #ffffff; */
}

.contacts .city {
  width: 190px;
}

.contacts ul li {
  margin-bottom: 20px;
}

.contacts a {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.678;
  letter-spacing: 0.02em;
  color: var(--font-second-color);
}
.contacts p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--font-second-color);
}
/* ======== /КОНТАКТЫ ======= */
.footer {
  padding: 56px 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer p {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--font-second-color);
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer ul::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  background: var(--font-main-color);
  margin-right: 40px;
}

.footer ul li:not(:last-child) {
  margin-right: 40px;
}

.footer a {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--font-main-color);
  transition-duration: 250ms;
  transition-property: color;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: var(--accent);
}
