:root {
  --font-main: 'Open Sans', sans-serif;
  --font-second: 'Raleway', sans-serif;
  --font-main-color: #303030;
  --font-second-color: #9da4bd;
  --accent: #ff6c00;
  --description-dark-color: #555555;
}

/* ======== COMPONENTS ======= */
body {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  font-weight: normal;
  color: var(--description-dark-color);
}

h1,
h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--font-second);
  font-weight: bold;
}

h2 {
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}

.address {
  font-style: normal;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 130px 0;
}

.modal-open-btn {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 18px;
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent);
  border-radius: 25px;
}

.modal-open-btn-light {
  color: #ffffff;
}

.modal-open-btn-dark {
  color: var(--font-main-color);
}

.subtitle {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle-light {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle-dark {
  color: var(--font-main-color);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.description-light {
  color: var(--font-second-color);
}

.description-dark {
  color: var(--description-dark-color);
}
/* ======== /COMPONENTS ======= */

/* ======== HEADER ======= */
.header {
  padding: 40px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 70px;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu ul {
  display: flex;
}

.header .menu ul li:not(:last-child) {
  margin-right: 40px;
}

.header .address {
  margin-left: auto;
  margin-right: 40px;
}

.header a,
.header a:visited {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.header a:hover,
.header a:active,
.header a:focus {
  color: var(--accent);
}
/* ======== /HEADER ======= */

/* ======== TOP ======= */
.top {
}

.top .container {
  display: flex;
}

.top-left {
  width: 100px;
}

.top-left ul {
  display: flex;
}

.top-left ul li:not(:last-child) {
  margin-right: 40px;
}

.top-right {
  flex-grow: 1;
  padding-top: 272px;
  padding-right: 525px;
  padding-bottom: 206px;
  padding-left: 100px;
}

.top-left a,
.top-left a:visited {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--font-main-color);
}

.top-left a:hover,
.top-left a:active,
.top-left a:focus {
  color: var(--accent);
}

.top-right h1 {
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  /* color: #ffffff; */
}
/* ======== /TOP ======= */

/* ======== О НАС ======= */
.about {
}

.about .container {
  display: flex;
}

.about ul {
  display: flex;
}

.about ul li:not(:last-child) {
  margin-right: 30px;
}

.about-right {
  padding-left: 64px;
  width: 544px;
}

.about .description {
  margin-bottom: 20px;
}

.about .modal-open-btn {
  margin-top: 40px;
}
/* ======== /О НАС ======= */

/* ======== Услуги и цены ======= */
.services {
}

.services h2 {
  /* color: #ffffff; */
}

.services .prices {
  display: flex;
  margin-bottom: 50px;
}

.services .prices ul {
  width: 50%;
  padding: 30px 40px;
}

.services .prices ul li {
  display: flex;
  justify-content: space-between;
}

.services ul span {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--font-second-color);
}

.services .modal-open-btn {
  display: block;
  margin: 0 auto;
}
/* ======== /Услуги и цены ======= */

/* ======== achievements ======= */
.achievements .container {
  display: flex;
}

.achievements-left {
  width: 370px;
}

.achievements-left ul {
  display: flex;
}

.achievements-left ul li {
  width: 170px;
  min-height: 133px;
  padding: 20px;
  margin-bottom: 30px;
}

.achievements-left ul li:nth-child(even) {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 0;
}

.achievements-right {
  padding-left: 130px;
  padding-right: 200px;
}

.achievements h2 {
  color: var(--font-main-color);
}

.achievements-left p {
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: var(--font-main-color);
}

.achievements-left .number {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
}

.achievements-left sup {
  color: var(--accent);
}
/* ======== /achievements ======= */

/* ======== НАШИ МАСТЕРА ======= */
.masters {
}

.masters h2 {
  color: var(--font-main-color);
  margin-bottom: 44px;
}

.masters h3 {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--font-main-color);
}

.masters ul {
  display: flex;
  justify-content: space-between;
}

.masters .job-position {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent);
}
/* ======== /НАШИ МАСТЕРА ======= */

/* ======== ГАЛЕРЕЯ ======= */
.gallery .subtitle {
  margin-bottom: 44px;
}

.gallery ul {
  display: flex;
  justify-content: space-between;
}
/* ======== /ГАЛЕРЕЯ ======= */

/* ======== КОНТАКТЫ ======= */
.contacts {
}

.contacts .container {
  display: flex;
  justify-content: space-between;
}

.contacts-right {
  width: 50%;
  padding: 130px 100px;
}

.contacts .subtitle {
  margin-top: 70px;
}

.contacts h2 {
  margin-bottom: 40px;
  /* color: #ffffff; */
}

.contacts .city {
  width: 190px;
}

.contacts ul li {
  margin-bottom: 20px;
}

.contacts a {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.678;
  letter-spacing: 0.02em;
  color: var(--font-second-color);
}
.contacts p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--font-second-color);
}
/* ======== /КОНТАКТЫ ======= */
.footer {
  padding: 56px 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer p {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--font-second-color);
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer ul li:not(:last-child) {
  margin-right: 40px;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: var(--accent);
}
