$font-main: 'Open Sans', sans-serif;
$font-second: 'Raleway', sans-serif;
$font-main-color: #303030;
$font-second-color: #9da4bd;
$accent: #ff6c00;
$description-dark-color: #555555;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
