.subtitle-dark {
  color: $font-main-color;

  &::before {
    background: $font-main-color;
  }
}

.description-dark {
  color: $description-dark-color;
}

.modal-open-btn_dark {
  color: $font-main-color;
}
