.subtitle-light {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle-light::before {
  background: rgba(157, 164, 189, 0.6);
}

.description-light {
  color: $font-second-color;
}

.modal-open-btn_light {
  color: #ffffff;
}

.form-submit-btn_light {
  color: #ffffff;
}
