.about .container {
  display: flex;
}

.about ul {
  display: flex;
}

.about ul li:not(:last-child) {
  margin-right: 30px;
}

.about-right {
  padding-left: 64px;
  width: 544px;
}

.about .description {
  margin-bottom: 20px;
}

.about .modal-open-btn {
  margin-top: 40px;
}
