.about {
  .container {
    display: flex;
  }

  ul {
    display: flex;

    li:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-right {
    padding-left: 64px;
    width: 544px;
  }

  .description {
    margin-bottom: 20px;
  }

  .modal-open-btn {
    margin-top: 40px;
  }
}
