.masters {
  background: #f7f7f7;

  h2 {
    color: $font-main-color;
    margin-bottom: 44px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.389;
    text-align: center;
    letter-spacing: 0.02em;

    color: $font-main-color;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  .icons-list {
    width: 206px;
    margin: 0 auto;
  }

  &__list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    width: 44px;
    height: 44px;
    transition: all 500ms;

    &:hover {
      background-color: #000;
    }

    &:hover svg,
    &:focus svg {
      fill: $accent;
    }
  }

  .job-position {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.02em;
    color: $accent;
  }
}
