.social-links {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background: $font-main-color;
    flex-shrink: 0;
    margin-right: 40px;
  }

  &__list-item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: $font-main-color;
    transition-duration: 250ms;
    transition-property: color;

    &:hover,
    &:active,
    &:focus {
      color: $accent;
    }
  }
}
