body {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  font-weight: normal;
  color: $description-dark-color;
}

h1,
h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-second;
  font-weight: bold;
}

h2 {
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}

.address {
  font-style: normal;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 31px;
}

.section {
  padding: 130px 0;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    margin-right: 20px;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.662;
  letter-spacing: 0.02em;
}

.label-checkbox {
  display: flex;
  align-items: center;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.input-wrapper {
  position: relative;
  display: block;

  svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
}

.checkbox-text {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    outline: 1px solid black;
    background-origin: padding-box;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 39px;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
